.digital-signature-uic .sign-button {
     display: inline-block;
     margin-left: 10px;
 }

.digital-signature-uic .error-text {
    color: red;
}

.digital-signature-uic .success-text {
    color: green;
}
